.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 3em 2em 3em 2em;
}

.btn {
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(49, 64, 174);
  cursor: pointer;
  padding: 15px 25px 15px 25px;
}

.btn:hover {
  background-color: rgb(64, 78, 187);
  box-shadow: 0 1px 15px 10px rgba(56, 121, 218, 0.835);
  transition: all 0.3s;
}

.input_form {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 4em 0 4em 0;
  gap: 1em;
}

.input {
  padding: 15px 30px 15px 30px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(59, 151, 221);
}

.input:focus {
  outline: none;
  box-shadow: 0 1px 15px 7px rgba(255, 255, 255, 0.835);
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .input_form {
    flex-direction: column;
  }

  .input {
    padding: 15px 10px 15px 10px;
  }
}
