.navbar {
    background: linear-gradient(0deg, rgba(14, 22, 78, 1) 46%, rgb(16, 141, 191) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list a.active {
    background-color: rgb(36, 50, 156);
    box-shadow: 0 0px 12px 5px rgba(255, 255, 255, 0.835);
}

.navbar h1 {
    margin-left: 3%;
    color: white;
    font-size: 1.5em;
}

.list {
    display: flex;
    list-style: none;
    gap: 1em;
    padding-left: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-95%);
    z-index: 1;
}

.list a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(49, 64, 174);
    font-size: 100%;
}

.list li:hover {
    background-color: rgb(64, 78, 187);
    box-shadow: 0 1px 15px 10px rgba(56, 121, 218, 0.835);
    transition: all 0.3s;
}

.hamburger {
    display: flex;
    flex-direction: column;
}

.bar {
    border-radius: 10px;
    display: block;
    width: 35px;
    height: 4px;
    background-color: white;
    margin-right: 20px;
    margin-top: 8px;
    display: none;
}

@media (max-width:1024px) {
    .list a {
        display: none;
    }

    .bar {
        display: inherit;
    }
}

@media (max-width:930px) {
    .list {
        margin-right: 2rem;
    }

}

@media (max-width:400px) {
    .navbar h1 {
        font-size: 1.1em;
    }

}

@media (max-width:330px) {
    .navbar h1 {
        font-size: 0.8em;
    }
}