.container {
    text-align: center;
    max-width: 30%;
    height: 430px;
    margin: 33px;
    margin-top: 2%;
    position: relative;
    color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0px 18px 11px rgba(255, 255, 255, 0.671);
    padding-bottom: 0px;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 0.6s ease-in-out forwards;
}

.btn:disabled {
    pointer-events: none;
    background-color: rgb(90, 90, 90);
}

/* .filler_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0px 18px 11px rgba(255, 255, 255, 0.671);
    vertical-align: middle;
} */

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.name {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.btn {
    position: relative;
    bottom: 30px;
    opacity: 0;
    border-radius: 10px;
    font-size: 140%;
    background-color: rgb(49, 64, 174);
    color: white;
    border: none;
    padding: 7px;
    cursor: pointer;
}

.image {
    max-width: 100%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0px 1px 3px rgba(241, 238, 238, 0.5);

}

.hover_modal {
    font-size: 20px;
    position: relative;
    display: grid;
    gap: 10px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    padding-left: 8px;
    opacity: 0;
    background-color: rgb(49, 64, 174);
}


.container:hover {
    border-radius: 14px;
    box-shadow: 0 0px 30px 20px rgba(56, 121, 218, 0.835);
    transition: all 0.2s;
}

.btn:hover {
    background-color: rgb(73, 89, 210);
    box-shadow: 0 0px 17px 5px rgba(73, 90, 214, 0.835);
    transition: all 0.2s
}

.container:hover .btn {
    bottom: 120px;
    opacity: 1;
    transition: all 0.8s;
}

.container:hover .hover_modal {
    opacity: 1;
    transition: all 0.9s;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
}

@media (max-width: 930px) {
    .container {
        max-width: 30%;
        max-height: 40%;
        margin: 30px;
        padding: 30px;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .btn {
        margin-top: 30px;
        bottom: 15px;
        opacity: 1;
        font-size: 120%;
    }

    .name {
        font-size: 120%;
        top: 0px;
        padding-bottom: 20px;
    }

    .hover_modal {
        display: none;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 29%;
        max-height: 20%;
        padding: 5%;
        margin: 3%;
        box-shadow: 0 0px 12px 7px rgba(255, 255, 255, 0.671);
    }

    .btn {
        bottom: -15px;
        margin-top: 0px;
    }

    .name {
        font-size: 90%;
    }
}

@media (max-width:520px) {
    .name {
        font-size: 90%;
        font-weight: 400;
    }

    .btn {
        font-size: 90%;
    }
}

@media (max-width:440px) {
    .name {
        font-size: 70%;
    }

    .btn {
        font-size: 80%;
        bottom: -10px;
    }
}

@media (max-width:360px) {
    .name {
        font-size: 60%;
    }

    .btn {
        font-size: 60%;
    }

    .container {
        box-shadow: 0 0px 9px 5px rgba(255, 255, 255, 0.671);
    }
}

@media (max-width:300px) {
    .name {
        font-size: 50%;
    }

    .btn {
        bottom: -7px;
    }

}