.container {
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0px 18px 11px rgba(255, 255, 255, 0.671);
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s ease-in-out forwards;
}

.style_div {
  display: flex;
  justify-content: center;
}

.btn:disabled {
  pointer-events: none;
  background-color: rgb(90, 90, 90);
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container:hover {
  box-shadow: 0 0px 30px 20px rgba(56, 121, 218, 0.835);
  transition: all 0.2s;
}

.name {
  font-weight: bold;
  margin: 0;
  padding: 15px 15px 25px 15px;
}

.container:hover .btn {
  opacity: 1;
  bottom: 80px;
  transition: all 0.4s;
}

.container:hover .hover_modal {
  top: 40%;
  opacity: 1;
  transition: all 0.4s;
}

.btn {
  border-radius: 10px;
  font-weight: 700;
  background-color: rgb(49, 64, 174);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  bottom: 0;
  opacity: 0;
}

.image {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0px 1px 3px rgba(241, 238, 238, 0.5);
}

.hover_modal {
  position: absolute;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  top: 20%;
  gap: 5px;
  opacity: 0;
  background-color: rgb(49, 64, 174);
}
